.reveal h1 {
	font-size: 2.5em;
}
body.something{
	background: #FFF;
}
.reveal section img {
   border: 0px;
   background: transparent;
   box-shadow: none;
}
.reveal section p {
   text-align:justify;
}
